<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015149948554-eqbior2pvtrbs7e1caa3kcoqh1ucqnnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015149948554-eqbior2pvtrbs7e1caa3kcoqh1ucqnnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAbScrXTECDjnsqC5vUehy-zeMwCmZu-fw</string>
	<key>GCM_SENDER_ID</key>
	<string>1015149948554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberClone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-76ddc</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-76ddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015149948554:ios:c7066b11d51b2ed9f28773</string>
	<key>DATABASE_URL</key>
	<string>https://uber-clone-76ddc-default-rtdb.firebaseio.com</string>
</dict>
</plist>